/* @format */

* {
    margin: 0;
    padding: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111010;
    width: 1420px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }
  .nav-title {
    font-weight: 800;
    color: #e55473;
    font-size: 48px;
    padding-left: 16px;
  }
  .about {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 50px;
    text-decoration: underline;
    color: white;
  
    text-decoration-color: #e55473;
  }
  .banner {
    background-color: rgba(229, 84, 115, 0.1);
    width: 1420px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
  }
  .banner-section {
    display: flex;
    gap: 20px;
  }
  .banner-header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 28px;
  }
  .banner-para {
    width: 634px;
    color: rgba(39, 39, 39, 0.6);
  
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 28px;
  }
  .banner-img {
    width: 100;
    height: 600px;
    margin-top:50px;
  }
  .btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #e55473;
    border: none;
    margin-right: 480px;
    color: white;
  }
  
  .featured-section {
    margin-top: 178px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 178px;
  }
  
  .featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
  }
  .featured-des {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
  }
  
  .featured-images {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .img-name {
    margin-top: 24px;
    text-align: center;
    color: #272727;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
  }
  .img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 538px;
  }
  .pic1 {
    padding: 110px 76px 0px 78px;
    width: 310px;
    height: 428px;
  }
  
  .img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
    height: 538px;
  }
  .pic2 {
    padding: 117px 47px 51px 47px;
    width: 370px;
    height: 370px;
  }
  .img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 400px;
    height: 538px;
  }
  .pic3 {
    padding: 67px 75px 0 75px;
    width: 314px;
    height: 471px;
  }
  
  .services {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    justify-content: center;
    gap: 100px;
    text-align: center;
    padding: 86px 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
  }
  
  .offer {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
  }
  .offer-title {
    color: #272727;
  
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
  }
  .offer-off {
    color: #e55473;
  }
  .offer-des {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin-bottom: 24px;
  }
  
  .offer-img {
    margin-left: 60px;
    padding: 100px 0;
    width: 318px;
    height: 420px;
  }
  .offer-btn {
    padding: 20px 43px;
    border-radius: 8px;
    background: #e55473;
    border: none;
  
    color: white;
  }
  .sign-btn {
    text-align: center;
  }
  
  .instra-section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .instra-title {
    margin-top: 117px;
    color: #272727;
    text-align: center;
  
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .instra-des {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .instra-images {
    display:flex;
    gap: 40px;
  }
  .instra-img {
    width: 350px;
    flex-shrink: 0;
  }
  
  .latest {
    margin-top: 100px;
    background-image: url("../flower-shop-assignment/Flower Asset/Rectangle\ 9.png");
    width: 90%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 8px;
    margin-bottom: 100px;
  }
  .latest-title {
    color: #272727;
    text-align: center;
  
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 150px;
  }
  .latest-des {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .subscribe {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .input-btn {
    width: 700px;
    height: 64px;
    border: none;
  }
  .btn-subscribe {
    padding: 20px 43px;
    border-radius: 8px;
    background: #e55473;
    border: none;
  
    color: white;
  }
  ::placeholder {
    color: rgba(39, 39, 39, 0.6);
    padding-left: 20px;
  
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .footer {
    height: 449px;
    background: #111010;
  }
  .footer-title {
    padding-top: 100px;
    color: #e55473;
    text-align: center;
  
    font-size: 48px;
  
    font-weight: 800;
  }
  .title-design {
    color: white;
  }
  .footer-des {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
  
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .copyright {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
  
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }